<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Mr Estate Sales Showing, Products and More.</h1>
    <br />
    <%= link_to 'Find Sales', new_estate_path, class: 'btn btn-success' %>

    <%= link_to 'Online Marketplace', '#', class: 'btn btn-success' %>
    <br /><br />
 </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h2>Register For Up To Date Estate Sales</h2>
    <br />
    <%= link_to 'Sale Notification', new_user_registration_path, class: 'btn btn-success' %>
  </div>
</div>
<br /><br />


<% @estates.each do |estate| %>
  <div class="booyah-box h3 col-10 offset-1">
    <h3><%= link_to estate.name, estate_path(estate) %></h3><br />
    <i><%= estate.address %></i><br />


  </div>
<% end %>

<div class="clear"></div>
<%= simple_form_for @comment, url: estate_comments_path(@estate) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating %>
  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
<% end %>