<div class="booyah-box col-10 offset-1">
  <h1><%= @estate.name %></h1>
  <i><%= @estate.address %></i>
  <br/><br/>

  <style>
   
  </style>

  <% if @estate.latitude.present? && @estate.longitude.present? %>

  <script>

    function initMap() {
      var myLatLng = {lat: <%= @estate.latitude %>, lng: <%= @estate.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Estate Sales Location'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATgVcKdDsOa_xicA1hsYfd3riC9M9TzqY&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>

<br />
  
  <div class="float-right">
    <% if current_user && current_user == @estate.user %>
      <%= link_to 'Edit', edit_estate_path(@estate), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', estate_path(@estate), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>



